{% extends 'base.html.twig' %}

{% block title %}
    {{title}} | {{parent()}}
{% endblock %}

{% block body %}
    <h1 class="text-center f-lunatic shadow-none color-4 my-3 my-md-5">Gérer les campus</h1>
    <h2  class="px-3 color-4 fs-6">Filtrer les campus</h2>
    {{include('includes/searchForm.html.twig')}}
    <div class="col-12">
        <div class="box-table">
            <table class="table">
                <thead class="thead-light" >
                <tr>
                    <th scope="col">Campus</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>

                {{form_start(formCampus)}}
                <tr>
                    <td>
                        <div class="input-group">
                            <label class="input-group-text d-none d-md-block" for="campus_nom">Nom</label>
                            {{form_widget(formCampus.nom)}}
                        </div>
                    </td>
                    <td class="tdSubmit"><button type="submit" class="bg-4 btn btn-sm text-white f-lunatic btn-connexion">{{ button }}</button></td>
                </tr>
                {{ form_end(formCampus)}}
                {% for campus in campusx %}
                    <tr>
                        <td>{{campus.nom}}</td>
                        <td><a href="{{path('campus_modify',{'id':campus.id})}}">Modifier</a> - <a href="{{path('campus_delete',{'id':campus.id})}}">Supprimer</a></td>
                    </tr>
                {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}