{% extends 'base.html.twig' %}
{% block title %}{{title}} - {{parent()}}{% endblock %}

{% block body %}
        <h1>Annuler une sortie</h1>
        <p>Nom de la sortie : {{sortie.nom}}</p>
        <p>Date de la sortie : {{sortie.DateHeureDebut | format_date}}</p>
        <p>Campus : {{sortie.campus.nom}}</p>
        <p>Lieu : {{sortie.lieux.nom}}</p>


        <div class="input-group mb-3">
                {{form_start(formAnnule)}}
                <label class="input-group-text" for="annule_motif">Motif</label>
                {{form_widget(formAnnule.motif)}}
                {{form_errors(formAnnule.motif)}}
                <button class="btn btn-outline-secondary" type="submit" >Annuler la sortie</button>
                {{form_end(formAnnule)}}
        </div>

{% endblock %}